@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
  font-family: var(--font-space-grotesk), system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
